# Homework 1

### Name: Hannah Marr
### Collaborator:


DATA 201

Fall 2024

Tufts University

## 1. Data Types

### Exercise 1.1: Identify the type of each of the following: 5, 5.5, "Student", False.

In [4]:
#1.1
type(5)

int

In [6]:
#1.1
type(5.5)

float

In [8]:
#1.1
type('Student')

str

In [18]:
#1.1
type(False)

bool

### Exercise 1.2: Convert the integer 97 into a float, string, and boolean.

In [14]:
#1.2
float(97)

97.0

In [16]:
#1.2
str(97)

'97'

In [60]:
#1.2
bool(97)

True

## 2. Operators

### Exercise 2.1: Use arithmetic operators to calculate the area of a circle with radius 7. Take pi = 3.14

In [22]:
#2.1
# Area of a circle = pi * r^2. Defining variables and inputting into this formula in Python will give us the answer
pi = 3.14
radius = 7
area = pi * (radius ** 2)
print(area)

153.86

### Exercise 2.2: Determine if the number 32 is even using the modulus operator.

In [24]:
#2.2
# If 32 is divisible by 2, there will be zero remainder, and therefore we know it is an even number
32 % 2 == 0

True

## 3. Data Structures

### Exercise 3.1: Create a list of 4 of your favorite fruits.

In [26]:
#3.1
myfruits = ['apple', 'kiwi', 'raspberry', 'plum']
print(myfruits)

['apple', 'kiwi', 'raspberry', 'plum']

### Exercise 3.2: Add a new fruit to your list.

In [28]:
#3.2
# The append function adds an object to the end of a list
myfruits.append('nectarine')
print(myfruits)

['apple', 'kiwi', 'raspberry', 'plum', 'nectarine']

### Exercise 3.3: Convert your fruit list to a tuple.

In [32]:
#3.3
# We can directly convert a list to a tuple by calling tuple()
myfruits_tuple = tuple(myfruits)
print(myfruits_tuple)

('apple', 'kiwi', 'raspberry', 'plum', 'nectarine')

### Exercise 3.4: Create a set from the fruit list.

In [34]:
#3.4
# Similar to the tuple call above, we can turn a list into a set by calling set()
myfruits_set = set(myfruits)
print(myfruits_set)

{'raspberry', 'apple', 'kiwi', 'plum', 'nectarine'}

### Exercise 3.5: Create a dictionary where fruits are keys and their colors are values.

In [36]:
#3.5
# A dictionary is characterized by key:value pairs, denoted by 'key':'value'
myfruits_dict = {'apple':'red', 'kiwi':'green', 'plum':'purple', 'nectarine':'yellow'}
print(myfruits_dict)

{'apple': 'red', 'kiwi': 'green', 'plum': 'purple', 'nectarine': 'yellow'}

### Exercise 3.6: Add a new fruit 'Grape' with colours/values 'green' and 'red' to the dictionary.

In [38]:
#3.6
# We can add a key with two values in the form of a list
myfruits_dict['grape'] = ['green','red']
print(myfruits_dict)

{'apple': 'red', 'kiwi': 'green', 'plum': 'purple', 'nectarine': 'yellow', 'grape': ['green', 'red']}

## 4. Functions

### Exercise 4.1: Write a function that returns the remainder of the division of any two numbers.

In [40]:
#4.1
# This function takes two variables as inputs, and uses the modulus operator to find the remainder
def remainder(x, y):
    return (x % y)
print(remainder(6, 2))

0

### Exercise 4.2: Write a function that reverses a string without using Python's built-in reverse functions.

In [42]:
#4.2
# This function reverses the input string by adding each character in reverse order and returning the reversed result
def reverse_string(string):
    reversed_string = ''
    for char in string:
        reversed_string = char + reversed_string
    return reversed_string

reverse_string('hello')

'olleh'

## 5. Control Structures

### Exercise 5.1: Write an if-else structure that prints whether a number is positive, negative, or zero.

In [44]:
#5.1
# This if-elif-else structure starts by evaluating whether the input num is > 0, if it is not it evaluates if it is < 0, and in all other cases, it will print that the number is zero

num = 7

if num > 0:
    print('Number is positive')
elif num < 0:
    print('Number is negative')
else:
    print('Number is zero')

Number is positive

### Exercise 5.2: Given a list of grades: grades = [85, 90, 78, 92, 88, 76, 72, 95, 89], write an if-else structure that prints:

- "Excellent" if the average grade is 95 and above,
- "Good" if the average grade is between 85 and 94, inclusive,
- "Average" if the average grade is between 75 and 84, inclusive, and
- "Poor" otherwise.

In [46]:
#5.2
# First we calculate the average of the grades, which is the sum of the grades list divided by the len of the grades list
# Then we use an if-elif-else structure to evaluate under which range of grades the average falls, using and statements to encapsulate a range of grades

grades = [85, 90, 78, 92, 88, 76, 72, 95, 89]
mean_grades = sum(grades) / len(grades)

if mean_grades >= 95:
    print('Excellent')
elif mean_grades >= 85 and mean_grades <= 94:
    print('Good')
elif mean_grades >= 75 and mean_grades <= 84:
    print('Average')
else:
    print('Poor')

Good

### Exercise 5.3: Given a variable day that represents a day of the week, use an if-elif-else structure to print:

- "Weekend" if the day is "Saturday" or "Sunday",
- "Weekday" if the day is one of the other 5 days of the week,
- "Invalid" if the input doesn't match any day of the week.

In [48]:
#5.3
# This if-elif-else structure takes an input day and evaluates whether the day matches a set weekday or weekend

day = 'Sunday'

if day == 'Saturday' or day == 'Sunday':
    print('Weekend')
elif day == 'Monday' or day == 'Tuesday' or day == 'Wednesday' or day == 'Thursday' or day == 'Friday':
    print('Weekday')
else:
    print('Invalid')

Weekend

## 6. Loop and Control Statements

### Exercise 6.1: Using a for loop, print numbers from 1 to 10.

In [52]:
#6.1
# If we want to print n numbers, we must iterate through range(n+1)

for num in range(11):
    print(num)

0
1
2
3
4
5
6
7
8
9
10

### Exercise 6.2: Using a while loop, print numbers from 1 to 10.

In [54]:
#6.2
#This loop takes a set input num, and using a <= evaluation statement, will iterate through the loop until the input num is no longer <= to the number prescribed

num = 1

while num <= 10:
    print(num)
    num += 1

1
2
3
4
5
6
7
8
9
10

### Exercise 6.3: Using a for loop and continue statement, print all odd numbers from 1 to 20.

In [56]:
#6.3
# If we want to print n numbers, we must iterate through range(n+1)
# This for loop iterates through the specified range and uses the modulus operator to determine if the num is even
# If the num is even, the continue statement bumps back to the top of the loop, and if the num is odd, the continue condition is not met and the num will print

for num in range(21):
    if num % 2 == 0:
        continue
    print(num)

1
3
5
7
9
11
13
15
17
19

### Exercise 6.4: Using a for loop and break statement, print all even numbers from 1 to 20, break at 10.

In [58]:
#6.4
# If we want to print n numbers, we must iterate through range(n+1)
# The break statement following the if num > 10 evaluator will exit the loop once the num > 10 condition is met
# To print all even numbers, we use the modulus operator to evaluate if each num < 10 is even, and print if so

for num in range(21):
    if num > 10:
        break
    if num % 2 == 0:
        print(num)

0
2
4
6
8
10